<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ユーザー名</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿漫画"%>
      </h2>
      <div class="user__card">
      <% @items.each do |item| %>
        <div class="card">
          <%= link_to image_tag(item.image, class: :card__img ), item_path(item.id)%>
          <div class="card__body">
            <%= link_to item.items_name, item_path(item.id), class: :card__title%>
            <p class="card__summary">
              <%= item.publisher %>
            </p>
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= item.avg_score %>点（<%= item.reviews.count %>件のレビュー）
            </div>

            <div class="review_contents">
              <%= link_to "review", item_reviews_path(item.id), class: :review_content%>
              <%= link_to "chat room", item_path(item.id), class: :review_content%>
            </div>
          </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>