
<div class="main">
  <div class="inner">
    <h2 class="page-heading">みんなのオススメ漫画！！</h2>
    <div class="card__wrapper">
      <% @items.reverse.each do |item| %>
        <div class="card">
          <div class="card__img__position">
            <%= link_to image_tag(item.image, class: :card__img ), item_path(item.id)%>
          </div>
            <div class="card__body">
              <div class="card__document">
                <%= link_to item.items_name, item_path(item.id), class: :card__title%>
                <p class="card__summary">
                  <%= item.publisher %>
                </p>
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= item.avg_score %>点（<%= item.reviews.count %>件のレビュー）
                </div>
                <div class="genre">
                <%= item.genre_1.name %>&nbsp;&nbsp;
                <%= item.genre_2.name %>&nbsp;&nbsp;
                <%= item.genre_3.name %>
                </div>
              </div>
              <%= link_to "#{item.user.nickname}さん", user_path(item.user.id), class: :card__user %>
              <div class="review_contents">
                <%= link_to "review page", item_reviews_path(item.id), class: :review_content%>
                <%= link_to "chat room", item_comments_path(item.id), class: :review_content%>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>