  <div class="inner">
    <div class="card__wrapper">
    </div>
  </div>
</main> %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>

      <% if @items != [] %>
        <% @items.each do |item| %>
          <li class='list'>         
            <%= link_to root_path do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img"  %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.items_name %>
              </h3>
              <div class='item-price'>
                <span><%= item.publisher %>円<br>/span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
          </li>
         <% end %>
      <% else %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                商品を出品してね！
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
              <%= item.publisher %>
            </p>
            <%= link_to item.user.nickname, root_path, class: :card__user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>