<main class="main">
  <div class="inner">
    <div class="item__wrapper">
      <p class="item__hedding">
        <%= @item.items_name%>
      </p>
      <%= link_to "by #{@item.user.nickname}", user_path(@item.user.id), class: :item__user %>
      <%# 漫画投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <div class="item__edit_delete">
          <%= link_to "編集する", edit_item_path(@item.id), class: :item__btn %>
          <%= link_to "削除する", item_path(@item.id),method: :delete, class: :item__btn %>          
        </div>
        <div class="share_cotents">
        <%= link_to image_tag("Twitter social icons.png", class: :sns_logo), "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
        </div>
      <% end %>
      <%# // 漫画投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="review-rating">
        <div class="star-rating mb-2">
          <div class="star-rating-front" style="width: <%= @item.review_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="average-score-display ml-3 pt-2">
          <%= @item.avg_score %>点（<%= @item.reviews.count %>件のレビュー）
        </div>
      </div>

      <div class="item__image">
        <%= image_tag @item.image %>
      </div>
      <div class="comic__body">
        <div class="item__detail">
          <p class="detail__title">出版社（サイト名）</p>
          <p class="detail__message">
            <%= @item.publisher %>
          </p>
            <div class="genre">
             <p class="genre__title">作品ジャンル</p>
            <%= @item.genre_1.name %>&nbsp;&nbsp;
            <%= @item.genre_2.name %>&nbsp;&nbsp;
            <%= @item.genre_3.name %>
            </div>
        </div>
        <div class="comic__detail">
          <p class="detail__title">オススメポイント！！</p>
          <p class="item__recommendation"><%= @item.recommendation %></p>
        </div>
      </div>
      <p class="detail__title">コメント一覧</p>
      <div class="item__comments">
        <ul class="comments_lists">
          <%  @comments.reverse.each do |comment| %>
            <li class="comments_list">
              <%= comment.comment %>
              <%= link_to comment.user.nickname,  user_path(comment.user.id), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</main>


