<main class="main">
  <div class="inner">
    <div class="item__wrapper">
      <p class="item__hedding">
        <%= @item.items_name%>
      </p>
      <%= link_to "by #{@item.user.nickname}", root_path, class: :item__user %>
      <%# 漫画投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :item_btn %>
          <%= link_to "削除する", root_path,method: :delete, class: :item__btn %>
        </div>
      <% end %>
      <%# // 漫画投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="item__image">
        <%= image_tag @item.image %>
      </div>
      <div class="prototype__body">
        <div class="item__detail">
          <p class="detail__title">出版社（サイト名）</p>
          <p class="detail__message">
            <%= @item.publisher %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">オススメポイント！！</p>
          <p class="item__recommendation">
            <%= @item.recommendation %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
